<div data-role="view" data-title="Add" data-layout="main-layout" data-model="app.Add" data-show="app.Add.show">
    <div data-role="header">        
        <div id="logout" data-role="touch" data-bind="events: { tap: logout }">           
            <h3 style="display:inline-block" class="center-block" id="user-greeting"></h3>     
            <a data-role="button" class="btn btn-logout">Logout</a>
        </div>
    </div>

    <select name="category" style="width: 90%; height: 100%; margin:5%; padding-top:1%; padding-bottom: 1%; font-size: 2em">
        <option selected="selected" disabled="disabled">Category</option>
        <option>Road Conditions</option>
        <option>Road Signaling</option>
        <option>Traffic</option>
        <option>Buildings</option>
        <option>Nature</option>
    </select>
    
    <select name="transportation" style="width: 90%; height: 100%; margin:5%; padding-top:1%; padding-bottom: 1%; font-size: 2em">
        <option selected="selected" disabled="disabled">Transportation</option>
        <option>Pedestrian</option>
        <option>Cyclist</option>
        <option>Motor-Cyclist</option>
        <option>Driver</option>
    </select>

    <input type="text" placeholder=" Details" style="width: 90%; height: 100%; margin:5%; padding-top:1%; padding-bottom: 1%; font-size: 2em"/>

    <div data-role="touch" data-bind="events: { tap: addPhoto }" >
        <a data-role="button" class="btn" style="display: block; width: 90%; text-align:center; margin:5%" data-icon="camera" id="add-photo">Add Photo and Report issue</a>
    </div>        
   
</div>

<!-- main-layout-->
<div data-role="layout" data-id="main-layout">
    <div data-role="footer">
        <div data-role="tabstrip">
            <a href="views/add.html" data-icon="add">Add</a>
            <a href="views/watch.html" data-icon="search">Watch</a>
            <a href="views/warn.html" data-icon="about">Warn</a>
        </div>
    </div>
</div>
<!-- end of main-layout-->

<script type="text/x-kendo-template" id="selectCategoryTemplate">       
    <option value=" #: id #">
        #: name #
    </option>
</script>

<script type="text/x-kendo-template" id="selectTransportationTemplate">       
    <option value=" #: id # ">
        #: name #
    </option>
</script>