<div data-role="view" data-title="Warn" data-layout="main-layout" data-id="warn" data-model="app.Warn" data-show="app.Warn.show">
    <div data-role="header">
        <div data-role="navbar">
            <div id="logout-warn" data-role="touch" data-bind="events: { tap: logout }">
                <a data-role="button" class="btn btn-profile" data-icon="settings"></a>
                <h3 style="display:inline-block" class="center-block" id="user-greeting-warn"></h3>     
                <a data-role="button" class="btn btn-logout" data-icon="action"></a>
            </div>
        </div>
    </div>  
    <div>
        <ul data-template="issuesTemplate" data-role="listview" data-bind="source: issuesDataList" id="issuesList"></ul>
    </div>
</div>

<script type="text/x-kendo-template" id="issuesTemplate">
        <img src='#: Uri #' style='width:100%' />
        <span style="color: black">#: Text #</span>
</script>

