<div data-role="view" data-title="Watch" data-layout="main-layout" data-model="app.Watch" data-show="app.Watch.show">
    <div data-role="header">
        <div data-role="navbar">
            <div id="logout-watch" data-role="touch" data-bind="events: { tap: logout }">
                <a data-role="button" class="btn btn-profile" data-icon="settings"></a>
                <h3 style="display:inline-block" class="center-block" id="user-greeting-watch"></h3>     
                <a data-role="button" class="btn btn-logout" data-icon="action"></a>
            </div>
        </div>
    </div>
    <div>
        
    </div>
    <ul data-template="imagesTemplate" data-role="listview" data-bind="source: imagesDataList" id="imagesList"></ul>
</div>

<script type="text/x-kendo-template" id="imagesTemplate">
        <img src='#: Uri #' style='width:30%' />
        <span style="color: black">#: Text #</span>
</script>